html{
	box-sizing: border-box;
	//font-size:62.5%;
}

*,
*:before,
*:after{
	box-sizing:inherit;
}

body{
	margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.button,
.button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button {
  background: none;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 45%;
  padding-top: 20px;
padding-bottom: 20px;
padding-left: 5%;
padding-right: 5%;
}


