// 
// Variables
//

// @
// font-face { font-family: 'MiNuevaFuente';
// src: url('font.ttf');
// }

// Tipografía
// $title:@font-face{font-family:"ADAM CG.PRO";src:url("../fonts/ADAM.CG PRO.otf")};
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

//Colores
$colorWhite:#ffffff;
$colorBlack:#000000;
$colorBlueLigthr:#009ee2;
$colorFucsia:#e5007e;
$colorBrown:#0e0500;
$colorGreen:#c5d661;